body{
    margin: 0;
    height: 100%;
}

/* Utility classes */
.border2{
    border: 2px solid black;
}


/* -------------------------------------- */
/* User defined css classes */

.navbar{
    display: flex;
    justify-content: space-between;
}

.sid-mid{
    display: flex;
    position: fixed;
    height: 100%;
    width: 100%;
    padding: 0;
    
}

.mid{
    flex-grow: 1;
    overflow: scroll;
}
.sid{
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content:center;
    height: 100%;
    overflow:auto;
}

.sid div{
    padding-left: 19px;
    padding-right: 19px;
}

.nav-list ul{
    display: flex;
    padding-left:0 ;
}
.nav-list li{
    padding: 2px 16px ;
    list-style-type: none;
}
.logo{
    align-self: center;
}
.sign-in{
    align-self: center;
}