/* scrollbar class */

.sid::-webkit-scrollbar{
    width: 5px;
    display:none;
}
.sid::-webkit-scrollbar-track {
    background-color: #e8e0c8;
}
.sid::-webkit-scrollbar-thumb{
    background-color: #1a4146;
    border-radius: 3px;
}
.mid::-webkit-scrollbar{
    width: 5px;
}
.mid::-webkit-scrollbar-track{
    background-color: #e8e0c8;
}
.mid::-webkit-scrollbar-thumb{
    background-color: #1a4146;
}




/* --------resetting------- */
body{
    margin-bottom: 100px;
    height: 100%;
}

/* Utility classes */
.border2{
    border: 2px solid black;
}
.btn{
    background-color: #b66d2f;
}

/* -------------------------------------- */
/* User defined css classes */

.navbar{
    display: flex;
    justify-content: space-between;
    box-shadow: none;
    align-items: center;
    /* border-bottom: 1px solid black; */
    background-color: #297272;
    background-color: #1a4146;
    color: beige;
}

.sid-mid{
    display: flex;
    position: fixed;
    height: 100%;
    width: 100%;
    padding: 0;
    background-color: #e8e0c8;

}

.mid{
    flex-grow: 1;
    overflow: scroll;
}
.sid{
    /* display: none; */
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content:start;
    height: 100%;
    overflow:auto;
    /* border-right: 1px solid black; */
    background-color: #e8e0c8;

}

.sid div{
    padding: 9px 16px;
    transition: ease-in-out .3s;
}
.sid div{
    /* border: 1px solid black; */
    border-radius: 13px;
    background-color: #164444;
    color:#d4edda;
}

.nav-list-item ul{
    display: flex;
    padding-left:0;
    margin-bottom: 0;
}
.nav-list-item li{
    padding: 8px 16px;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}
.logo{
    align-self: center;
    font-size: 30px;
    font-weight: 800;
}
.sign-in{
    align-self: center;
}
.alert-success{
    background-color: #1a4146;
}
.btn{
    background-color: #b66d2f;
}
/* Hovering elements */

.sid div:hover{
    transform: scale(1.1);
}